@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*



body{
    background: rgb(188, 159, 194);
    background-repeat: no-repeat;
     background-position: center;
     background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Cabin', sans-serif;
 }

header {
    position:fixed;
    top:50px;
    left:10px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    position: relative;
    font-size: 30px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    justify-content:space-between ;
    font-family: 'Cabin', sans-serif;
  
    
}
 
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a 
{
    position: relative;
    font-size: 30px;
    text-decoration: none;
    color:rgb(247, 247, 247);
    letter-spacing: 1px;
    font-weight: 300px;
}
   
h1{
    font-size: 30px;
    position: relative;
    text-align: center;
    color: antiquewhite;
}


h2 {
    font-weight: normal;
    font-size: 1.5rem;
    color: rgb(255, 253, 253);
    margin-left: 60px;
  }


   .seven-container {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 3px solid rgb(238, 238, 238);
    flex-basis: 33%;
   }
   
  
   
   .seven-image {
       width: 200PX;
       height: auto;
       align-self: center;
   }

   .film-title{
    width: 300PX;
    height: auto;
    align-self: center;
   }