@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin:0;
  padding:0;
}
.container{
  width:100vw;
  height:100vh;
  background-image: url("https://www.jakpost.travel/wimages/large/12-121450_two-color-wallpaper-baby-blue-and-pink-backgrounds.jpg");
  background-size:cover;
}


.container-cassette{
  position:absolute;
  width:400px;
  height:245px;
  background-color:background: rgb(237,208,151);
background: linear-gradient(90deg, rgba(237,208,151,1) 0%, rgba(247,226,183,1) 39%, rgba(247,226,183,1) 52%, rgba(250,237,205,1) 100%);
  margin: auto;
  left:0;
  right:0;
  top:160px;
  border-radius:10px;
  box-shadow: -7px 7px 8px 0px #484242, inset 4px -4px 3px 2px #E6D4A2;
  border-left: 1px solid grey;
  z-index:1;
}


.label{
  width:360px;
  height:155px;
  background-color:grey;
  margin:0 auto;
  margin-top:20px;
background: linear-gradient(90deg, rgba(210,226,215,1) 0%, rgba(226,238,228,1) 100%);
  border-radius:10px;
display:flex;
  flex-direction:column;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.cassete{
   color:#475A47;
  font-size:25px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0 auto;
  margin-top:20px;
  letter-spacing:5px;
}

.circles{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:250px;
  height:50px;
  background-color:#F7E8C1;
  border-radius:30px;
  margin:0 auto;
  margin-top: 20px;  
  box-shadow: inset 2px -2px 3px 2px #E6D4A2;
}

.circle{
  width:40px;
  height:40px;
  border-radius:50%;
  box-shadow: inset 10px 10px 10px 1px #484242;
  border: 1px solid #E6D4A2;
  z-index:3;
}
.c1{
  background-color:#A0CAF0;
}
.c2{
  background-color:#F4C2C3;
}
.black-square{
  display:flex;
  justify-content:space-between;
  width:70px;
  height:32px;
  background-image: url("https://www.jakpost.travel/wimages/large/12-121450_two-color-wallpaper-baby-blue-and-pink-backgrounds.jpg");
  background-size:cover;

  z-index:1;
  
}

.black-circle{
  position:relative;
  top:-1px;
  width:35px;
  height:33px;
background: rgb(153,151,142);
background: linear-gradient(270deg, rgba(153,151,142,1) 0%, rgba(49,47,42,1) 24%);
  z-index:1;
clip-path: circle(100.5% at 100% 55%);
}
.bc2{
  transform:rotate(-180deg); 
}
.container-dots{
  position:relative;
  width:300px;
  height:65px;
  margin:0 auto;
  background-color:background: rgb(237,208,151);
background: linear-gradient(90deg, rgba(237,208,151,1) 0%, rgba(247,226,183,1) 39%, rgba(247,226,183,1) 52%, rgba(250,237,205,1) 100%);
border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
  margin-top:5px;
  box-shadow: inset 6px -2px 3px 1px #E9D49D, inset -6px 2px 3px 1px #FFF4DE;
}

.container-dots-up{
  padding-top:20px;
  display:flex;
  justify-content:space-around;
}

.dots{
  width:18px;
  height:18px;
  background-color:#5E585C;
  border-radius:50px;
  box-shadow: inset 2px -2px 2px 1px black;
}

.container-dots-lower{
  width:250px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
}

.description{
  width:300px;
  font-size:8px;
  margin: 0 auto;
  margin-top:16px;
  color:#A7B8A8;
  font-family: 'Roboto', sans-serif;
  text-align:center;
}

.teeth{
  width:5px;
  height:5px;
  background: linear-gradient(90deg, rgba(237,208,151,1) 0%, rgba(247,226,183,1) 39%, rgba(247,226,183,1) 52%, rgba(250,237,205,1) 100%);
  border:1px solid #E6D4A2;
  position:relative;  
  margin: 0 auto;

}

.t1{
  background-color:#E6D4A2;
}

.t1::after{
  content:"";
  width:5px;
  height:5px;
  background-color:#F7E8C1;
  border:1px solid #E6D4A2;
  position:absolute; 
  margin: 0 auto;
  left:12px;
  top:4px;
  transform:rotate(-35deg);
}

.t2{
  left:18px;
  top:11px;
  border:1.5px solid #F7E8C1;
}


.t2::after{
  content:"";
  width:5px;
  height:5px;
  background-color:#F7E8C1;
  border:1.5px solid #F7E8C1;
  position:absolute; 
  margin: 0 auto;
  right:5px;
  top:11px;
  transform:rotate(-35deg);
}

.t3{
  top:19px;
  border:1.5px solid #F7E8C1;
  
}

.t3::after{
  content:"";
  width:5px;
  height:5px;
  background-color:#E6D4A2;
  border:1px solid #E6D4A2;
  position:absolute; 
  margin: 0 auto;
  right:10px;
  top:-5px;
  right:11px;
  transform:rotate(-40deg);
}

.t4{
  right:18px;
  top:-4px;
  background-color:#E6D4A2;
}


.t4::after{
  content:"";
  width:5px;
  height:5px;
  background-color:#E6D4A2;
  border:1px solid #E6D4A2;
  position:absolute; 
  margin: 0 auto;
  left:3px;
  top:-15px;
  transform:rotate(-45deg);
}
