@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

*



body{
    background-color: rgb(255, 60, 0);
    background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Thasadith', sans-serif;
 }

header {
    position:fixed;
    width: 100%;
    display: flex;
    position: relative;
    font-size: 10px;
    background-color: rgb(255, 60, 0);
    text-decoration: none;
    justify-content:space-between ;
    font-family: 'Thasadith', sans-serif;
}
 
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a 
{
    position: relative;
    background-color:  rgba(255, 60, 0, 0.911);;
    font-size: 30px;
    text-decoration: none;
    color: #111;
    letter-spacing: 1px;
    font-weight: 300px;
}
  

.text-effect{
    color: #101550;
    font-family: 'Thasadith', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 5px #ff0000, 0 0 15px #ff008c, 0 0 20px #ff0000, 0 0 40px #f700ff, 0 0 60px #ff0000, 0 0 10px #e100ff, 0 0 98px #ff0000;
    position: relative;
    animation: animate 2s ease-in-out infinite;
    margin-left: 90px;
    margin-bottom: 30px;
}

@keyframes animate{
    20%, 24%, 55%{
        color: #111;
        text-shadow: none;
    }
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100%{
        color: #fff6a9;
        text-shadow: 0 0 5px #ff3300, 0 0 15px #ff3c00, 0 0 20px #ff3c00, 0 0 40px #ff00b3, 0 0 60px #ff0000, 0 0 10px #ff00b3, 0 0 98px #ff0000;
    }
}
@media only screen and (max-width: 990px){
    .text-effect{ font-size: 200px; }
}
@media only screen and (max-width: 767px){
    .text-effect{ font-size: 80px; }
}
@media only screen and (max-width: 479px){
    .text-effect{ font-size: 60px; }
}
@media only screen and (max-width: 359px){
    .text-effect{ font-size: 45px; }
}


h2 {
    font-weight: normal;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 10px;
  }


   .onethree-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'Thasadith', sans-serif;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 60, 0);
    flex-basis: 33%;
    margin:30px;
   }
   
  
   
   .onethree-image {
       width: 200PX;
       height: auto;
       align-self: center;
   }

   .film-title{
    width: 300PX;
    height: auto;
    align-self: center;
   }

   .other a {
    
    border: 2px solid rgb(255, 82, 82);
    position: relative;
   text-align: center;
    color: rgb(0, 0, 0);
    padding: 15px 12px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    float: center;
    margin-left: 10px;
    cursor: pointer;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
  }

  .other a:hover{
    background-color: #fd4d4d;
    box-shadow: 0 12px 16px 0 rgba(209, 181, 181, 0.767),0 17px 50px 0 rgba(247, 154, 154, 0.19);

  }

  @media only screen and (max-width: 480px) {
  
    .other a {
    
        border: 1px solid rgb(241, 167, 167);
        position: relative;
       text-align: center;
        color: rgb(255, 255, 255);
        padding: 30px 42px;
        text-decoration: none;
        font-size: 12px;
        cursor: pointer;
        width:0px;
        float: left;
        cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
        
      }
    
      .other a:hover{
        background-color: #3f3e3e77;
        box-shadow: 0 12px 16px 0 rgba(214, 115, 115, 0.767),0 17px 50px 0 rgba(247, 154, 154, 0.19);
    
      }
      header {
        position:fixed;
        top:50px;
        left:10px;
        width: 100%;
        display: flex;
        justify-content:space-between ;
        align-items:center;
        transition:0.5s;
        padding:10px 10px;
    }
     
    header ul
    {
        position: fixed;
        display:flex;
        align-items: center;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }

     header ul li a {
 font-size: 15px;
text-align: center;
text-decoration: none;
color:rgb(255, 255, 255);
letter-spacing: 1px;
font-weight: 300px;
transition: 0.6s;
 }

}