@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*



body{
    background: rgb(205, 73, 238);
    background-image:url("videotape.png");
    background-repeat: no-repeat;
     background-size: 1200px 800px;
     background-position: center;
     background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Cabin', sans-serif;
 }

 
  header {
    position:fixed;
    top:50px;
    left:10px;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items:center;
    transition:0.5s;
    padding:10px 10px;
}
 
header ul
{
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a 
{
    position: relative;
    font-size: 30px;
    margin: 0 65px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: 300px;
    transition: 0.6s;
}



.text-effect{
    color: #fff6a9;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    margin: 20px auto 0;
    text-shadow: 0 0 5px #ff0000, 0 0 15px #ff008c, 0 0 20px #ff0000, 0 0 40px #f700ff, 0 0 60px #ff0000, 0 0 10px #e100ff, 0 0 98px #ff0000;
    position: relative;
    animation: animate 2s ease-in-out infinite;
    margin-top: 230px;
    margin-left: 90px;
    margin-bottom: 180px;
}
@keyframes animate{
    20%, 24%, 55%{
        color: #111;
        text-shadow: none;
    }
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100%{
        color: #fff6a9;
        text-shadow: 0 0 5px #ff3300, 0 0 15px #ff3c00, 0 0 20px #ff3c00, 0 0 40px #ff00b3, 0 0 60px #ff0000, 0 0 10px #ff00b3, 0 0 98px #ff0000;
    }
}
@media only screen and (max-width: 990px){
    .text-effect{ font-size: 100px; }
}
@media only screen and (max-width: 767px){
    .text-effect{ font-size: 80px; }
}
@media only screen and (max-width: 479px){
    .text-effect{ font-size: 60px; }
}
@media only screen and (max-width: 359px){
    .text-effect{ font-size: 45px; }
}


.btn-group a {
    background-color:#E92EE6;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 740px;
    color: rgb(0, 0, 0);
    padding: 25px 52px;
    text-decoration: none;
    font-size: 36px;
    cursor: pointer;
    width:170px;
    display: block;
    
  }

  .btn-group a:hover{
    background-color: #f8a7e4;
  }