@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*



body{
    background: rgb(248, 239, 250);
    background-repeat: no-repeat;
     background-position: center;
     background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Cabin', sans-serif;
 }

header {
    position:fixed;
    top:50px;
    left:10px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    position: relative;
    font-size: 30px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    justify-content:space-between ;
    font-family: 'Cabin', sans-serif;
    align-items:center;
    transition:0.5s;
    padding:10px 100px;
    
}
 
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a 
{
    position: relative;
    font-size: 30px;
    text-decoration: none;
    color:rgb(243, 94, 94);
    letter-spacing: 1px;
    font-weight: 300px;
}

   
   .foursix-container {
       font-size: 3rem;
       font-family: 'Cabin', sans-serif;
       color: aliceblue;
       font-family: arial;
       border: 1px solid rgb(255, 174, 174);
       background: rgb(100, 100, 92);
       display: flex;
       overflow-x: auto;
   }
   
   .fifties-container {
       font-size: 3rem;
       font-family: arial;
       border: 1px solid black;
       background: lightpink;
       margin-top: 330PX;
   }
   
   .foursix-image {
       width: 150PX;
       height: auto;
       align-self: center;
   }