@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  font-family: 'Cabin', sans-serif;
  background-color: rgb(184, 32, 146);
    
  }
  body{
  
     background-position: center;
     background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Cabin', sans-serif;
 }

header {
    position:fixed;
    top:50px;
    left:10px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    position: relative;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color:rgb(255, 255, 255);
    justify-content:space-between ;
    font-family: 'Cabin', sans-serif;
  
    
}

.text-effect{
  color: #fff6a9;
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  text-transform: capitalize;
  margin: 20px auto 0;
  text-shadow: 0 0 5px #ff0000, 0 0 15px #ff008c, 0 0 20px #ff0000, 0 0 40px #f700ff, 0 0 60px #ff0000, 0 0 10px #e100ff, 0 0 98px #ff0000;
  position: relative;
  animation: animate 2s ease-in-out infinite;
  margin-top:1px;
  margin-left: 90px;
  margin-bottom: -70px;
}

@keyframes animate{
  20%, 24%, 55%{
      color: #111;
      text-shadow: none;
  }
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100%{
      color: #fff6a9;
      text-shadow: 0 0 5px #ff3300, 0 0 15px #ff3c00, 0 0 20px #ff3c00, 0 0 40px #ff00b3, 0 0 60px #ff0000, 0 0 10px #ff00b3, 0 0 98px #ff0000;
  }
}
@media only screen and (max-width: 990px){
  .text-effect{ font-size: 40px; }
}
@media only screen and (max-width: 767px){
  .text-effect{ font-size: 35px; }
}
@media only screen and (max-width: 479px){
  .text-effect{ font-size: 13px; }
}
@media only screen and (max-width: 329px){
  .text-effect{ font-size: 12px; }
}
 
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a 
{
    position: relative;
    margin-right: 50px;
    font-size: 30px;
    text-decoration: none;
    color:rgb(247, 247, 247);
    letter-spacing: 1px;
    font-weight: 300px;
}
   

  h1 {
    font-weight: normal;
    font-size: 1.5rem;
    color: rgb(255, 253, 253);
    margin-left: 60px;
  }

  .container {
    background-color: rgb(184, 32, 146);
    padding: 2rem;
  }
  
  
  
  .Caption {
    display: none;
  }
  
  .Caption.active {
    display: block;
  }
  
  .film-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: none;
  }
  
  .film-image.active {
    display: block;
  }
  
  .film-container {
    width: 100%;
    background-color: rgb(184, 32, 146);
    color: rgb(202, 198, 198);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 55px;
  }
  
  .image-container {
    width: 30%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
  }
  .film-container:hover {
    border: 2px solid rgb(235, 158, 158);
    border-radius: 55px;
    background-color: rgba(27, 27, 27, 0.199);
    cursor: pointer;
  }
  
  .film-container.active .film-title {
    display: block;
  }

  .filter {
    padding: 6rem;
    letter-spacing: 2.7px;
    cursor: pointer;
    align-items: center;
    color: rgb(255, 255, 255);
  }
  
  